<li id="<%= id %>" class="flex flex-row font-mono text-sm">
  <span class="text-gray-400 mr-2"><%= Time.zone.now.strftime("%H:%M:%S.%L") %></span>
  <span class="text-gray-600"><%= text %></span>
</li>
